* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("./fonts/GmarketSansMedium.otf");
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("./fonts/GmarketSansBold.otf");
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("./fonts/GmarketSansLight.otf");
}
@font-face {
  font-family: "PretendardRegular";
  src: url("./fonts/Pretendard-Regular.woff");
}
@font-face {
  font-family: "PretendardBold";
  src: url("./fonts/Pretendard-Bold.woff");
}
