.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
}
.page {
  height: auto;
  max-width: 700px;
}
.page img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: auto;
}

/* FormSection */
.formWrap {
  background: #0051de;
  width: 100%;
  padding: 0 18px 47px;
}
.formWrap > form {
  width: 100%;
}
.inputWrap {
  background: #fff;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
}
.formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formRow > div {
  width: 146px;
  font-family: "GmarketSansMedium";
}
.formRow input {
  border: 1px solid #dfe3e6;
  border-radius: 4px;
  height: 32px;
  max-width: 494px;
  flex-grow: 1;
  padding: 8px 12px;
  line-height: 32px;
  font-family: "GmarketSansMedium";
}
.formRow input:focus {
  border: 1px solid #0051de;
}
.formRow input::placeholder {
  color: #b6bbc3;
  font-size: 16px;
  font-family: "GmarketSansMedium";
}
.checkWrap {
  width: 100%;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}
.checkWrap > label {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-family: "GmarketSansMedium";
}
.checkWrap > input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.submitBtn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 236px;
  height: 53px;
  font-size: 24px;
  font-weight: 700;
  color: #0051de;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-family: "PretendardBold";
}

/* Footer */
.footer {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f7;
}
.footerContents {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.logoWrap {
  width: 180px;
  height: 40px;
}
.logoWrap img {
  width: 100%;
  object-fit: contain;
  display: block;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footerInfo em {
  font-weight: 700;
  font-style: normal;
  font-family: "PretendardBold";
}
.footerInfo li {
  font-size: 14px;
  color: #303136;
  text-align: center;
  font-family: "PretendardRegular";
}
.footerInfo li.light {
  color: #636670;
}

@media screen and (max-width: 480px) {
  .formWrap {
    padding: 0 18px 63px;
  }
  .formRow {
    gap: 12px;
  }
  .formRow input::placeholder {
    font-size: 14px;
  }
  .formRow > div {
    width: 56px;
    font-size: 14px;
    word-break: keep-all;
    white-space: normal;
  }
  .formRow input {
    height: 30px;
    flex-grow: 1;
  }
  .submitBtn {
    width: 156px;
    height: 43px;
    padding: 0;
    font-size: 16px;
  }
  .logoWrap {
    width: 90px;
    height: 20px;
  }
}
